<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment [(ngModel)]="icons" color="secondary">
        <ion-segment-button value="contact">
          <ion-icon name="contact"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="person-add">
          <ion-icon name="person-add"></ion-icon>
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>

        <ion-item>
            <!-- <ion-label color="primary" stacked>User Name</ion-label> -->
            <ion-input type="text" placeholder="User Name"></ion-input>
          </ion-item>
                 
        
        <ion-item>
          <!-- <ion-label color="primary" stacked>Password</ion-label> -->
          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>
      
        <ion-button color="primary" (click)="login()">Login</ion-button>
       
      </ion-list>
  
  </ion-content>
